[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/taxilian/nerdtree.git
[submodule ".vim/bundle/jslint"]
	path = .vim/bundle/jslint
	url = https://github.com/bloveridge/jslint.vim.git
[submodule ".vim/bundle/js_indent"]
	path = .vim/bundle/js_indent
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/breakpts"]
	path = .vim/bundle/breakpts
	url = https://github.com/vim-scripts/BreakPts.git
[submodule ".vim/bundle/genutils"]
	path = .vim/bundle/genutils
	url = https://github.com/clones/vim-genutils.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
